/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #mission .content {
    max-width: 60em;
    margin: auto;
    text-align: center;
    padding: 3.125em 1.25em;
    margin-bottom: 3.125em;
  }
  #mission .content p {
    font-size: min(6vw, 1.75em);
    line-height: 1.75em;
  }
  #mission .content p:first-of-type {
    margin-bottom: 2em;
  }
}
/* Inbetween */
@media only screen and (min-width: 900px) {
  #int-hero {
    margin-bottom: 3em;
  }
  #mission .content {
    margin-bottom: 8em;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #sidebyside {
    margin-bottom: 4em;
  }
  #sidebyside .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 65em;
  }
  #sidebyside .content {
    margin: auto;
    margin-top: 4.6875em;
    text-align: center;
  }
  #sidebyside .content h2 {
    font-size: min(8vw, 3em);
    margin-bottom: 1.25em;
    text-align: center;
  }
  #sidebyside .content p {
    font-size: min(5vw, 1.5em);
    text-align: left;
    padding-left: min(5vw, 1.5em);
    margin-bottom: 1.75em;
    line-height: 2em;
  }
  #sidebyside .content .bio a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
  }
  #sidebyside .content .bio a:hover, 
  #sidebyside .content .bio a:focus {
    opacity: 0.7;
  }
  #sidebyside .image-box {
    display: block;
    position: relative;
    width: 20em;
    height: 28em;
    font-size: min(3vw, 1em);
  }
  #sidebyside .image-box:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    opacity: 1;
    top: 2.5em;
    left: -2.5em;
  }
  #sidebyside .image-box:after {
    content: '';
    position: absolute;
    display: block;
    height: 32.25em;
    width: 28.75em;
    background: url("../images/content-circles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -2.125em;
    right: -2.5em;
    z-index: -1;
  }
  #sidebyside .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Inbetween */
@media only screen and (min-width: 900px) {
  #sidebyside {
    margin-bottom: 8em;
  }
  #sidebyside .container {
    display: block;
  }
  #sidebyside .content h2 {
    text-align: left;
    padding-top: 1em;
  }
  #sidebyside .content p {
    padding-left: 0;
  }
  #sidebyside .image-box {
    float: left;
    margin-right: 5em;
    margin-bottom: 5em;
  }
}

/*-- -------------------------- -->
<---          Office            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #office {
    margin-bottom: 5em;
  }
  #office .container {
    text-align: center;
    width: 90%;
    max-width: 70em;
    padding: 4em 0 2em;
    background: linear-gradient(var(--primary), var(--primary) 2.5%, white 2.5%, white);
    -webkit-box-shadow: 0px -7px 11px -1px rgba(0,0,0,0.2); 
    box-shadow: 0px -4px 10px 4px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  #office .title {
    font-size: min(14vw, 3em);
    margin-bottom: 1em;
    text-align: center;
    font-weight: 700;
  }  
  #office .content {
    margin: auto;
  }
  #office h2 {
    font-size: min(8vw, 2em);
    font-weight: 400;
    margin-bottom: 0.75em;
  }
  #office .contact-info {
    margin-bottom: 4em;
  }
  #office .contact-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    max-width: 100%;
    font-size: min(6vw, 1.25em);
    margin: auto;
    margin-bottom: 0.75em;
    padding: 0.15em 0.5em;
    text-decoration: none;
  }
  #office .address:hover, 
  #office .address:focus {
    text-decoration: underline;
  }
  #office .address img {
    width: 3em;
  }
  #office .phone img {
    width: 2em;
    margin-right: 1em;
  }
  #office iframe {
    max-width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 4em;
  }
  #office .button-solid {
    display: inline-block;
    font-size: min(4vw, 1em);
    max-width: 95%;
  }
  #office .button-solid.hidden {
    display: none;
  }
  #office .content.other-offices.hidden {
    display: none;
  }
  #office .title.other-offices.hidden {
    display: none;
  }
  #office .title.other-offices {
    display: inline-block;
    position: relative;
    font-size: min(10vw, 3em);
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
  #office .title.other-offices:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.3em;
    border-radius: 0.15789474em;
    left: 0em;
    right: -0.31578947em;
  }
  #office .contact-info.other-offices:last-of-type {
    margin-bottom: 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #office .container {
    text-align: center;
    padding: 7em 0 4em;
  }
  #office .content {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    margin-bottom: 6em;
  }
  #office .content.other-offices {
    margin-bottom: 0;
  }
  #office .contact-info {
    align-self: center;
    margin-bottom: 0;
    margin-right: 6em;
  }
  #office .contact-info.other-offices:first-of-type {
    margin-right: 12em;
  }
  #office .contact-info.other-offices:last-of-type {
    margin-right: 0;
  }
  #office iframe {
    margin: 0;
  }
  #office .button-solid {
    font-size: 1.25em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #office .contact-info {
    margin-right: 10em;
  }
  #office .contact-info.other-offices:first-of-type {
    margin-right: 16em;
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125em 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 0.75em;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2em;
    width: 96%;
    max-width: 33.22222222em;
    font-size: 1.5em;
  }
  #cta .button-solid {
    font-size: min(4.5vw, 1em);
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5em 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25em;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25em;
    width: 125em;
    background: url("../images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
