/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #form {
    padding: 0;
    margin: auto;
    position: relative;
    padding-bottom: 10%;
  }
  #form .top-wave {
    position: absolute;
    width: 100%;
    top: -0.125em;
    height: auto;
    left: 0;
  }
  #form h2 {
    font-weight: 900;
    font-size: min(9vw, 2.4em);
    line-height: 1.20833333;
    color: #1A1A1A;
    position: relative;
    margin-bottom: 0.875em;
    text-align: left;
  }
  #form p {
    line-height: 1.5;
    max-width: 27.77777778em;
    color: #595959;
    margin-bottom: 2.66666667em;
  }
  #form .left-section {
    width: 90%;
    margin: auto;
    margin-top: 15%;
    max-width: 25em;
  }
  #form #contact {
    margin: auto;
    margin-bottom: 6.25em;
  }
  #form #contact .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.875em;
  }
  #form #contact .input-group label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.375em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    font-size: 1em;
    height: 4.1875em;
    border: 0.0625em solid #d4d4d4;
    background: transparent;
    padding-left: 1.25em;
  }
  #form #contact .input-group input:focus {
    border: 0.0625em solid var(--primary);
  }
  #form #contact .input-group textarea {
    min-height: 12.5em;
    padding-top: 1.25em;
  }
  #form #contact .input-group ::-webkit-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group :-ms-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group ::-ms-input-placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .input-group ::placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .button-solid {
    border: none;
  }
  #form .contact-right {
    background: #1a1a1a;
    padding: 2.8125em 2.125em;
    width: 100%;
    max-width: 18.75em;
    margin: auto;
    border-radius: 1em;
  }
  #form .contact-right .heading {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: bold;
    padding-left: 0.83333333em;
    border-left: 0.20833333em solid var(--primary);
    display: block;
    margin-bottom: 0.83333333em;
  }
  #form .contact-right .info-group {
    margin-bottom: 2.25em;
  }
  #form .contact-right .info-group:last-of-type {
    margin-bottom: 0;
  }
  #form .contact-right .info {
    font-size: 1.2rem;
    line-height: 1.75;
    color: #fff;
    opacity: .9;
    text-decoration: none;
    display: block;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 630px) {
  #form .contact-right {
    max-width: 38.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #form .contact-right .info-group {
    width: 40%;
    margin-left: 3.125em;
  }
}
/* Tablet */
@media only screen and (min-width: 43em) {
  #form #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #form .left-section {
    max-width: 37.5em;
  }
  #form #contact .input-group {
    width: 48%;
    margin-bottom: 3.125em;
    position: relative;
  }
  #form #contact .input-group:nth-of-type(5) {
    width: 100%;
  }
  #form #contact .input-group:last-of-type {
    width: 100%;
  }
  #form #contact .input-group input[type="text"]:hover,
  #form #contact .input-group input[type="email"]:hover,
  #form #contact .input-group input[type="tel"]:hover,
  #form #contact .input-group input[type="url"]:hover,
  #form #contact .input-group textarea:hover {
    background-color: #9393930c;
  }
    #form #contact .input-group input[type="text"]:focus,
    #form #contact .input-group input[type="email"]:focus,
    #form #contact .input-group input[type="tel"]:focus,
    #form #contact .input-group input[type="url"]:focus,
    #form #contact .input-group textarea:focus {
      background-color: #9393930c;
    }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    position: relative;
    background: transparent;
  }
  #form #contact .form-submit {
    margin-left: auto;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 1.5vw;
    width: 100%;
    padding: 3rem 0;
  }
  #form .left-section {
    width: 46.875em;
    margin: 0;
    margin-left: 0;
    margin-right: 4.6875em;
  }
  #form #contact {
    margin: 0;
    margin-right: 0;
    max-width: none;
  }
  #form .contact-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 18.75em;
    margin: 0;
    height: max-content;
  }
  #form .contact-right .info-group {
    margin-left: 0;
    width: 100%;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #form {
    font-size: inherit;
    max-width: 90em;
  }
  #form .left-section {
    margin-left: 10em;
    margin-right: auto;
  }
  #form .contact-right {
    margin-right: 5em;
  }
}
