/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding: 12.5em 0;
    position: relative;
    z-index: 1;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1d7fd5;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -11;
  }
  #hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
    -o-object-position: right;
       object-position: right;
  }
  #hero .hero-text {
    width: 96%;
    margin: auto;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 0;
  }
  #hero h1 {
    font-weight: bold;
    font-size: min(12vw, 4em);
    color: #fff;
    text-align: center;
    line-height: 1.203125;
    margin: auto;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 10em;
    position: relative;
  }
  #hero h1:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.0625em;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.25em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #hero p {
    font-size: 1.5em;
    line-height: 1.55em;
    margin: auto;
    margin-bottom: 1.72222222em;
    color: #fff;
    width: 100%;
    text-align: center;
    max-width: 34.27777778em;
    opacity: 1;
  }
  #hero .button-solid {
    margin: auto;
    display: inline-block;
    width: auto;
  }
  .svg-wavy-container svg {
    width: 100%;
    height: 100%;
  }
  .svg-wavy-container svg path {
    fill: #4790d1;
  }
  .svg-wavy-container svg rect {
    fill: white;
  }
  .svg-wavy-container {
    --divider-height: 3rem;
    
    position: relative;
    top: calc( var(--divider-height) * -1 );
  
    height: var(--divider-height);
    width: 100%;
    /* alternatively, could get rid of the rect, and move the svg container further down */
  
    z-index: 1;
    
    -webkit-box-shadow: 0px -25px 72px 20px rgba(71,145,209,1);
      -moz-box-shadow: 0px -25px 72px 20px rgba(71,145,209,1);
      box-shadow: 0px -25px 72px 20px rgba(71,145,209,1);
  }
  .svg-wavy-container .white-background {
    position: relative;
    background: white;
    z-index: 2;
    width: 100%;
    height: 5em;
    top: -0.3em;
  }
  #mission .content {
    max-width: 60em;
    margin: auto;
    text-align: center;
    padding: 3.125em 0.5em;
    margin-bottom: 3.125em;
  }
  #mission .content h2 {
    margin-bottom: 1em;
    font-size: min(10vw, 2.5em);
    font-weight: 400;
  }
  #mission .content p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
  }
  #mission .content p:last-of-type {
    text-align: center;
    margin-bottom: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    z-index: 1;
    overflow: hidden;
  }
  #hero h1 {
    margin-bottom: 1.5em;
    line-height: 1.5;
  }
  #hero h1 span {
    white-space: nowrap;
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero:before {
    background: linear-gradient(to bottom, #1d7fd5, #1d7fd5 10%, transparent 30%, transparent 80%, #1d7fd5 90%),
                linear-gradient(to right, #1d7fd5, #1d7fd5 60%, transparent 85%);
  }
  #hero .hero-content {
    width: 80%;
    margin: auto;
    margin-left: 0;
  }
  #hero .hero-text {
    width: max-content;
    background: linear-gradient(to bottom, rgba(2, 0, 134, 0.45), transparent);
    padding: 2em;
    border-radius: 5px;
  }
}



/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #services {
    margin-bottom: 10em;
  }
  #services .title {
    text-align: center;
    margin-bottom: 1em;
    font-size: min(15vw, 3em);
  }
  /* #services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 0.3125em;
    margin: auto;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 82.5em;
    padding: 3.125em 1.25em;
    border-top: 0.375em solid var(--primary);
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 3.125em;


    /* Horizontal fade effect when scrolling to let people know there's more content
    
    background-image: linear-gradient(to right, white, white),
                      linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
    background-position: right center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 30px 100%, 30px 100%;
    background-attachment: local, scroll;
  } */
  #services .card {
    max-width: 25em;
    margin: 4em auto;
    text-align: center;
  }
  #services .card:last-of-type {
    margin: auto;
    max-width: 40em;
  }
  #services .card picture {
    background: var(--primary);
    width: 5.5em;
    height: 5.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }
  #services .card picture img {
    width: 3em;
    height: 3em;
  }
  #services .card h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.65em;
  }
  #services .card p {
    text-align: center;
    line-height: 1.33333333em;
    width: 90%;
    opacity: .7;
    margin: auto;
  }
  #services .expanded-service {
    display: none;
  }
  #services .expanded-service[clicked] {
    display: block;
  }
  #services .view-more-services[clicked]  {
    display: none;
  }
}

/* In-between */
@media only screen and (min-width: 51em) {
  #services {
    margin-bottom: 10em;
  }
  #services .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #services .card {
    margin: 2em auto;
  }
  #services .view-more-services {
    display: none;
  }
  #services .expanded-service {
    display: block;
  }
  #services .card:last-of-type {
    grid-column-end: span 2;
    max-width: none;
    margin-top: 2em;
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services .container {
    grid-template-columns: repeat(3, 1fr);
  }
  #services .card {
    margin: 0 1.5em 4em;
    max-width: none;
  }
  #services .card:last-of-type {
    grid-column-end: span 3;
    margin-top: 0;
  }
}
