/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    margin-bottom: 5em;
  }
}


/*-- -------------------------- -->
<---       Privacy Policy       -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #privacy-policy .content {
    width: 96%;
    max-width: 45rem;
    margin: 0 auto;
  }
  #privacy-policy .item {
    margin-bottom: 4.5rem;
  }
  #privacy-policy h2 {
    margin-bottom: 1.75rem;
  }
  #privacy-policy p {
    line-height: 1.75;
    margin-bottom: 2rem;
  }
}